.wrapper {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	text-align: center;
	justify-items: stretch;
	align-items: center;
	& > div {
		padding: 20px 0;
		border-bottom: 1px solid #d9d9d9;
		&:not(:nth-child(4n)) {
			border-right: 1px solid #d9d9d9;
		}
	}
}
.icon {
	height: 16px;
	width: 16px;
	margin-right: 4px;
}
